*{
    margin:0px;
    padding:0px;
}

.main_body{
    background: linear-gradient(rgba(255, 255, 255, 0.3),rgba(255, 255, 255, 0.3)),url("../images/backepl2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center;
}

#main_body{
    color: rgb(63, 63, 63);
    font-family: monospace;
    font-size: x-large; 

    max-width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);

    gap: 15px;

    background-size: cover;

    /*align-items:center;*/
}


#main_body div{
    /*Children Properties*/
    align-self: center;
    justify-self: center;
}


#main_body h1{
    /*Children Properties*/
    align-self: center;
    justify-self: stretch;
    padding-bottom: 5px;
}

#main_body h1:hover{
    cursor:pointer;
}

/*Instead of using border of underline tag*/
#main_body h1::after{
    content:'';
    display: block;
    width:0;
    height: 5px;
    background: rgb(128, 255, 1);
    transition: width .5s;
}

#main_body h1:hover::after{
    width: 42%; 
    transition: width .5s;
}

#icon{
    color: rgb(70, 69, 69);
    padding-right: 10px;
}


#username,#pass,#email{
    color: white;
    border: none;
    outline: none;
    background: none;
    /*border-bottom: rgb(128, 255, 1) solid 2px;*/
    font-size: x-large;
    font-family: monospace;
}


div.line1{
    display: flex; /* Keep them side by side */
    border-bottom: rgb(128, 255, 1) solid 2px;
    max-height: auto;
    margin-bottom: 25px;/*For space btw username and password*/
}

div.line2{
    display: flex; /* Keep them side by side */
    border-bottom: rgb(128, 255, 1) solid 2px;
    max-height: auto;
    margin-bottom: 25px;/*For space btw password and button*/
}

div.login div{
    padding-bottom: 10px;/*For space btw input and border, for both username and password*/
}


.btn{
    width:100%;
    height: 100%;
    border: solid 3px rgb(128, 255, 1);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 8px;
    font-weight: bold;
    font-family: monospace;
    font-size: large;
    margin-top: 20px;
    transition: all 0.3s;
}

.btn:hover{
    background-color: pink;
    cursor: pointer;
}

.login{
    background: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.1));
    padding:100px;
    /*
    display: none;*/
}

/*Register Here*/
div.line3{
    display: flex; /* Keep them side by side */
    border-bottom: rgb(128, 255, 1) solid 2px;
    max-height: auto;
    margin-bottom: 25px;/*For space btw password and button*/
}

.register{
    background: linear-gradient(rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.1));
    padding: 70px;
    padding-right: 100px;
    padding-left: 100px;
    /*display: none;*/
}

div.register div{
    padding-bottom: 10px;/*For space btw input and border, for both username and password*/
}

#register h1:hover{
    cursor:pointer;
}

/*Instead of using border of underline tag*/
#register h1::after{
    content:'';
    display: block;
    width:0;
    height: 4px;
    background: rgb(128, 255, 1);
    transition: width .5s;
}

#register h1:hover::after{
    width: 52%; 
    transition: width .5s;
}

div.toggle_button{
    position: absolute;
    display: inline-flex;
    gap: 7px;
    align-self: center;
    justify-self: center;
    top: 75%;
    left: 60%;
}

.radio_btn{
    display: none;
    cursor: pointer;
}

div.btncircle{
    width: 15px;
    height: 15px;
    box-sizing: border-box;
    border-radius: 50%; 
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

div.btncircle::after{
    content: '';
    display: block;
    height:100%;
    width:100%;
    background-color: chartreuse;
    border-radius: 50%; 
    cursor:pointer;

    transform: scale(0);
    transition: transform 0.25s;
}

.radio_btn:checked + div.btncircle::after{
    transform: scale(1);
}





















